.filter-crema {
    filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);

    &::before {
        background: rgba(125, 105, 24, .2);
        content: "";
        mix-blend-mode: multiply;
    }
}

.filter-aden {
    filter: sepia(.2) brightness(1.15) saturate(1.4);
    
    &::before {
        background: rgba(125, 105, 24, .1);
        content: "";
        mix-blend-mode: multiply;
    }
}

.filter-kelvin {
    filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);

    &::before {
        background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
        content: "";
        mix-blend-mode: overlay;
    }
}

.filter-inkwell {
    filter: brightness(1.25) contrast(.85) grayscale(1);
}